<section class="vh-100" style="background-color: #e4e8f0;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Admin Login</h3>
<form action="/admin/adminpage" method="post">
<div class="form-outline mb-4">
              <input
                type="email"
                id="typeEmailX-2"
                Name="Email"
                class="form-control form-control-lg"
                placeholder="Email"
              />

            </div>

            <div class="form-outline mb-4">
              <input
                type="password"
                Name="Password"
                id="typePasswordX-2"
                class="form-control form-control-lg"
                placeholder="Password"
              />

            </div>
            {{#if loginErr}}
            <p class="err" style="color: red;">Invailed username or password<br></p>
            {{/if}}

            <button
              class="btn btn-primary btn-lg btn-block"
              type="submit"
            >Login</button>
</form>
            

          </div>
        </div>
      </div>
    </div>
  </div>
</section>