<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: white;">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
       
        {{!-- </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Update</a>
        </li> --}}
        
        
      </ul>
   
        {{#if admin}}
        <a style="color: white;text-decoration: none;" href="/admin/logout">Logout</a>
        {{/if}}
   
      
    </div>
  </div>
</nav>
<p class="mt-5 m-3" style="color: white;font-size: 20px;">Users List </p>
<table class="table table-dark mt-1 m-3">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Email-Id</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>nbv</td>
      <td>Otto</td>
      <td><button class="btn btn-primary btn-sm">Edit</button> <button class="btn btn-danger btn-sm">Delete</button></td>
    </tr>
    <tr>
      
      
     
    </tr>
    <tr>
      
     
    </tr>
  </tbody>
</table>
    
</body>